{% extends "press/base.html" %}
{% load static %}
{% block content %}
<div class="abtimg container mt-5 mb-5">
    <div class="container">
        <div class='np row g-4'>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="box-3 p-5">

                    <img src="{% static 'images/pras.jpg' %}" class="img-fluid" alt="#">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-4 p-5">

                    <p>Hi, I’m Guru Prasana — a passionate photographer and videographer with over 5 years of experience
                        capturing life’s most meaningful moments. I specialize in wedding shoots, outdoor sessions,
                        traditional festival (thiruvizha) coverage, and baby shower events.</p>
                    <p>My approach is simple: every moment has a story, and I aim to capture it with creativity,
                        clarity,
                        and emotion. Whether it’s the joy of a wedding, the beauty of outdoor shoots, or the cultural
                        richness of festivals, I focus on delivering visuals that feel natural and timeless.</p>
                    <p>I believe in creating memories that last forever — not just photos and videos, but emotions you
                        can
                        relive anytime.</p>

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}